meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title search module
link(rel="stylesheet", href="./assets/css/style.css")
script(src="./assets/js/script.js")