html(lang="ja")
  head
    include /_includes/_head.pug
  body
    .wrap
      include /_includes/_header.pug
      .content-main
        include /_includes/_search-input.pug
        include /_includes/_result.pug

      footer.footer