.result-section
  h3 検索結果
  #numOfHit.is-hidden
  p#noMatch.is-hidden
    | 該当する検索結果がありません。
  #resultArea.result_area
    .result-a
      p 名前: 見本 太郎
      p 役職: 教授
      p 学位:  博士
      p 専門分野: Web
      p 現在の研究分野: マークアップ
      p ここに画像: imageURL
    .result-b
      p 名前: 見本 花子
      p 役職: 客員教授
      p 学位:  博士
      p 専門分野: デザイン
      p 現在の研究分野: Webデザイン
      p ここに画像: imageURL
