.input-section
  h2 職員データベース
  form(action="none")
    label(for="search") 職員の検索が行えます
    div
      input(type="text" id="searchInput" name="searchInput" placeholder="教員名を入力してください" title="検索語句の入力エリア")
      button(type="submit" id="searchBtn" class="search-btn" title="検索する") 検索する